#quotation-upload {
	&-wrapper {
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 100%;
	}

	&-input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 100%;
	}

	&-loading {
		position: absolute;
		top: 10%;
		left: 0;
		flex-grow: 1;
	}
}

