.quotation-basket {
	position: sticky;
	top: 1rem;
	left: 0;

	&__header {
		font-size: 1.2rem;
	}

	&-item-summary-list-item {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}
