$color: #455a64;
$font-color: rgba($color, 1);

.quotation-order {
	&__item:hover {
		background-color: rgba($color, 0.05);
	}

	&__item-name, &__item-whole-price {
		color: $font-color;
		font-size: 1.2rem;
		font-weight: bold;
	}

	&__item-name {
		flex-grow: 1;
	}

	&-config {
		padding: 0 1.5rem;
		@media all and (min-width: 600px) {
			padding: 0 2.5rem;
		}
		&:hover {
			background-color: rgba($color, 0.05);
		}

		&__label, &__value {
			color: $font-color;
		}

		&__label {
			font-weight: bold;
		}
	}
}
