.quotation-item-edit {
	&__panels {
		padding: 1rem;
	}

	&__tolerance-finishing-grid {
		align-items: center;
		display: flex;
		justify-content: flex-start;

		font-size: 1.2rem !important;

		@media all and (min-width: 600px) {
			padding: 0 3rem;
		}
	}
}
